{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block body %}


<div class="container mt-2">
    <h1 class="title-home">Liste des pokémons</h1>

    <div class="row">
        {% for pokemon in pokemons %}
        <div class="col-lg-4 col-md-4">
          
            
            <div class="card-pokemon">
                
                <div class="img">
                    <img class="img-card" src="{{asset('images/pokemon/') ~ pokemon.numero ~ '.png' }}" alt="">
                </div>
                <a href=""><h2 class="title-card">#{{pokemon.numero}} {{ pokemon.name}}</h2></a>
                
                
            </div>
       
        </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
