{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="title-home">Liste des pokémons</h1>
            
            <div>
                <img src="" alt="">
                <a href="">Plus de détails</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
